<% include layout/header %>

    <p>
        The number is <%= randomNumber %>.
    </p>

    <a class="btn btn-warning" href="/?cid=<%= cidValue %>" role="button">Go back</a>

<% include layout/footer %>
