<% include layout/header %>

    <p>
        The answer was <%= randomNumber %>, but you were not able to figure it out in <%= guessCount %> guesses.
    </p>

    Would you like to <a href="/">play again</a>?

<% include layout/footer %>
