<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Views counter</title>
        <meta charset='utf-8' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>Views counter</h1>
            <p>You viewed this page <%= number_views %> times!</p>
            <a href="/begin" target="_blank">Begin session</a></br>
        </div>
    </body>
</html>
