extends layout

block step
  - var locations = [ 'Warszawa', 'Kraków', 'Gdańsk', 'Wrocław', 'Łódź' ]

  h1 Leaving location

  form(method='POST')
    select(name='leaving-place')
      each location in locations
        option(
          value = location
          selected = stepData !== undefined && stepData['leaving-place'] === location
        ) #{location}
    input(type='submit', value='Dalej')
